ErrorDocument 404 /error.php
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php

RewriteEngine on 

RewriteRule ^articles/rss.xml(|/)$ rss.php
RewriteRule ^me(|/)$ /me.php
RewriteRule ^ase/error(|/)$ /ase/error.php
RewriteRule ^staff(|/)$ /staff.php
RewriteRule ^profile(|/)$ /profile.php
RewriteRule ^credits(|/)$ /credits.php
RewriteRule ^news(|/)$ /articles.php
RewriteRule ^pixels(|/)$ /pixels.php
RewriteRule ^account/submit(|/)$ /login.php
RewriteRule ^safety(|/)$ /includes/groups/safety.php
RewriteRule ^articles/([^/]+)(|/)$ /articles.php?id=$1
RewriteRule ^articles(|/)$ /articles.php
RewriteRule ^client(|/)$ /client.php
RewriteRule ^account/logout_ok(|/)$ /logout_ok.php
RewriteRule ^account/logout(|/)$ /logout.php
RewriteRule ^quickregister/start(|/)$ /quickregister/age_gate.php
RewriteRule ^quickregister/age_gate_submit(|/)$ /quickregister/age_gate_submit.php
RewriteRule ^quickregister/age_gate/e/([^/]+)(|/)$ /quickregister/age_gate.php?error=$1
RewriteRule ^quickregister/age_gate(|/)$ /quickregister/age_gate.php
RewriteRule ^quickregister/age_limit(|/)$ /quickregister/age_limit.php
RewriteRule ^quickregister/email_password_submit(|/)$ /quickregister/email_password_submit.php
RewriteRule ^quickregister/email_password/e/([^/]+)(|/)$ /quickregister/email_password.php?error=$1
RewriteRule ^quickregister/email_password(|/)$ /quickregister/email_password.php
RewriteRule ^quickregister/captcha_submit(|/)$ /quickregister/captcha_submit.php
RewriteRule ^quickregister/captcha/e/([^/]+)(|/)$ /quickregister/captcha.php?error=$1
RewriteRule ^quickregister/captcha(|/)$ /quickregister/captcha.php
RewriteRule ^quickregister/backToAccountDetails(|/)$ /quickregister/email_password.php
RewriteRule ^quickregister/duplicateEmailLogin(|/)$ /quickregister/duplicateEmailLogin.php
RewriteRule ^quickregister/back(|/)$ /quickregister/back.php
RewriteRule ^quickregister/refresh_avatars(|/)$ /quickregister/refresh_avatars.php
RewriteRule ^captcha.jpg(|/)$ /captcha/captcha.php
RewriteRule ^maintenance(|/)$ /maintenance.php
RewriteRule ^age_gate_submit(|/)$ /quickregister/age_gate_submit.php
RewriteRule ^age_gate/e/([^/]+)(|/)$ /quickregister/age_gate.php?error=$1
RewriteRule ^age_gate(|/)$ /quickregister/age_gate.php
RewriteRule ^age_limit(|/)$ /quickregister/age_limit.php
RewriteRule ^email_password_submit(|/)$ /quickregister/email_password_submit.php
RewriteRule ^email_password/e/([^/]+)(|/)$ /quickregister/email_password.php?error=$1
RewriteRule ^email_password(|/)$ /quickregister/email_password.php
RewriteRule ^captcha_submit(|/)$ /quickregister/captcha_submit.php
RewriteRule ^captcha/e/([^/]+)(|/)$ /quickregister/captcha.php?error=$1
RewriteRule ^captcha(|/)$ /quickregister/captcha.php
RewriteRule ^backToAccountDetails(|/)$ /quickregister/email_password.php
RewriteRule ^duplicateEmailLogin(|/)$ /quickregister/duplicateEmailLogin.php
RewriteRule ^back(|/)$ /quickregister/back.php
RewriteRule ^refresh_avatars(|/)$ /quickregister/refresh_avatars.php
RewriteRule ^crossdomain.xml$ /crossdomain.php
RewriteRule ^groups/(.*)/id/discussions/(.*)/id/page/(.*) viewthread.php?groupid=$1&thread=$2&page=$3
RewriteRule ^groups/(.*)/id/discussions/(.*)/id viewthread.php?groupid=$1&thread=$2
RewriteRule ^groups/(.*)/id/discussions groups/Forum.php?id=$1
RewriteRule ^groups/(.*)/id/canceledit myhabbo/canceledit.php
RewriteRule ^groups/(.*)/id groups/Profile.php?id=$1
RewriteRule ^myhabbo/startSession/(.*) myhabbo/startSession/index.php?Id=$1