<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
					<rule name="Regla 1">
                    <match url="^articles/rss.xml" ignoreCase="false" />
                    <action type="Rewrite" url="./rss.php" />
					</rule>
					<rule name="Regla 2">
                    <match url="^account/submit" ignoreCase="false" />
                    <action type="Rewrite" url="./login.php" />
					</rule>
					<rule name="Regla 3">
                    <match url="^me" ignoreCase="false" />
                    <action type="Rewrite" url="./me.php" />
					</rule>
					<rule name="Regla 4">
                    <match url="^articles/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php?id={R:1}" />
					</rule>
					<rule name="Regla 5">
                    <match url="^articles" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php" />
					</rule>
					<rule name="Regla test">
                    <match url="^client1" ignoreCase="false" />
                    <action type="Rewrite" url="./client1.php" />
					</rule>
					<rule name="Regla 6">
                    <match url="^client" ignoreCase="false" />
                    <action type="Rewrite" url="./client.php" />
					</rule>
					<rule name="Regla 7">
                    <match url="^account/logout_ok" ignoreCase="false" />
                    <action type="Rewrite" url="./logout_ok.php" />
					</rule>
					<rule name="Regla 8">
                    <match url="^account/logout" ignoreCase="false" />
                    <action type="Rewrite" url="./logout.php" />
					</rule>
					<rule name="Regla 9">
                    <match url="^quickregister/start" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/age_gate.php" />
					</rule>
					<rule name="Regla 10">
                    <match url="^quickregister/age_gate_submit" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/age_gate_submit.php" />
					</rule>
					<rule name="Regla 11">
                    <match url="^quickregister/age_gate/e/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/age_gate.php?error={R:1}" />
					</rule>
					<rule name="Regla 12">
                    <match url="^quickregister/age_gate" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/age_gate.php" />
					</rule>
					<rule name="Regla 13">
                    <match url="^quickregister/age_limit" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/age_limit.php" />
					</rule>
					<rule name="Regla 14">
                    <match url="^quickregister/email_password_submit" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/email_password_submit.php" />
					</rule>
					<rule name="Regla 15">
                    <match url="^quickregister/email_password/e/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/email_password.php?error={R:1}" />
					</rule>
					<rule name="Regla 16">
                    <match url="^quickregister/email_password" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/email_password.php" />
					</rule>
					<rule name="Regla 17">
                    <match url="^quickregister/captcha_submit" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/captcha_submit.php" />
					</rule>
					<rule name="Regla 18">
                    <match url="^quickregister/captcha/e/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/captcha.php?error={R:1}" />
					</rule>
					<rule name="Regla 19">
                    <match url="^quickregister/captcha" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/captcha.php" />
					</rule>
					<rule name="Regla 20">
                    <match url="^quickregister/backToAccountDetails" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/email_password.php" />
					</rule>
					<rule name="Regla 21">
                    <match url="^quickregister/duplicateEmailLogin" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/duplicateEmailLogin.php" />
					</rule>
					<rule name="Regla 22">
                    <match url="^quickregister/back" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/back.php" />
					</rule>
					<rule name="Regla 23">
                    <match url="^quickregister/refresh_avatars" ignoreCase="false" />
                    <action type="Rewrite" url="./quickregister/refresh_avatars.php" />
					</rule>
					<rule name="Regla 24">
                    <match url="^captcha.jpg" ignoreCase="false" />
                    <action type="Rewrite" url="./captcha/captcha.php" />
					</rule>
					<rule name="Regla 25">
                    <match url="^maintenance" ignoreCase="false" />
                    <action type="Rewrite" url="./maintenance.php" />
					</rule>
					<rule name="Regla 26">
                    <match url="^pixels" ignoreCase="false" />
                    <action type="Rewrite" url="./pixels.php" />
					</rule>
					<rule name="Regla 27">
                    <match url="^credits" ignoreCase="false" />
                    <action type="Rewrite" url="./credits.php" />
					</rule>
					<rule name="Regla 28">
                    <match url="^staff" ignoreCase="false" />
                    <action type="Rewrite" url="./staff.php" />
					</rule>
					<rule name="Regla 29">
                    <match url="^FAQ" ignoreCase="false" />
                    <action type="Rewrite" url="./FAQ/index.php" />
					</rule>
					<rule name="Regla 30">
                    <match url="^vip" ignoreCase="false" />
                    <action type="Rewrite" url="./vip.php" />
					</rule>
					<rule name="Regla 31">
                    <match url="^profile" ignoreCase="false" />
                    <action type="Rewrite" url="./profile.php" />
					</rule>

            </rules>
        </rewrite>
		<customErrors mode="On" defaultRedirect="./error.php">
<error statusCode="404" redirect="./error.php" />
<error statusCode="401" redirect="./error.php" />
<error statusCode="403" redirect="./error.php" />
<error statusCode="402" redirect="./error.php" />
<error statusCode="303" redirect="./error.php" />
<error statusCode="304" redirect="./error.php" />
</customErrors>
	</system.webServer>
</configuration>
